.slickslider-container { overflow:hidden; position:relative; max-height:660px; }
	.slick-slider { margin-bottom:0px; }
	.sac_slider_banner {  }
	.sac_slider_banner img { max-width:100%; width:100%; }

	.sac_slider_content { color:#FFF; width:100%; position:absolute; top:0%; left:0px; height:100%; max-height:660px; }
		.sac_slider_content_inner > div > div,
		.sac_slider_content_inner > div,
		.sac_slider_content_inner { height:100%; }
		.sac_slider_content_inner > div > div { position:relative; }

	/* slick slider */
	/* dark */
	.sac_slider_content h3 { margin:0px; padding:0px; }

	.sac_slider_content .style_1 { text-align:center; color:#000; font-size:19.6px; max-width:100%; width:810px; margin:0px auto; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); } 
	.sac_slider_content .style_1 h3 { color:#272727; font-size:58.6px; font-weight:bold; font-family: 'PT Sans', sans-serif; line-height:1; margin-bottom:30px; }
	.sac_slider_content .style_1 .cta-button { display:inline-block; text-align:center; background: #293992; color: #FFF; text-transform: uppercase; text-align: center; border: none; line-height: 56px; padding:0px 20px; border-radius: 0; font-size: 16px; text-decoration:none; font-size:20px; transition:background 300ms ease; -webkit-transition:background 300ms ease; margin-top:15px;}
	.sac_slider_content .style_1 .cta-button:hover { background:#1D2867; }

	/* light */

	.sac_slider_content .style_2 { text-align:center; color:#FFF; font-size:19.6px; max-width:100%; width:810px; margin:0px auto; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); } 
	.sac_slider_content .style_2 h3 { color:#FFF; font-size:58.6px; font-weight:bold; font-family: 'PT Sans', sans-serif; line-height:1; margin-bottom:30px; }
	.sac_slider_content .style_2 .cta-button { display:inline-block; text-align:center; background: #293992; color: #FFF; text-transform: uppercase; text-align: center; border: none; line-height: 56px; padding:0px 20px; border-radius: 0; font-size: 16px; text-decoration:none; font-size:20px; transition:background 300ms ease; -webkit-transition:background 300ms ease; margin-top:15px;}
	.sac_slider_content .style_2 .cta-button:hover { background:#1D2867; }

	.slider_dots_nav { position: absolute; bottom:5%; left:0px; right:0px; text-align:center; }
	.slider_dots_nav ul { margin:0px; }
	.slider_dots_nav ul > li { display:inline-block; margin:0px 8px; }
	.slider_dots_nav ul > li > a { background:rgba(8,30,41,0); transition:background 300ms ease; -webkit-transition:background 300ms ease; border:1px solid #081E29; display:inline-block; width:15px; height:15px; overflow:hidden; text-indent:-99px; border-radius:100%; }
	.slider_dots_nav ul > li.active > a { background:#081E29; }

.slick-slide { position:relative; }
